<h2>Amigo secreto</h2>
<% if @friend %>
  <h3><b>Nome:</b> <%= @friend.name %> </h3>
  <%= link_to "Ver lista de presentes", "#" %>
<% else %>
  <h2> Vc nao tem amigo ainda! <h2>
<% end %>
<%= link_to "Voltar", group_path(@group) %>
